In [1]:
import pandas as pd


people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [2]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [3]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [4]:
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [5]:
df # actually do not change

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [6]:
df.set_index('email',inplace=True)

In [7]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [8]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [9]:
df.loc['CoreyMSchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [10]:
df.loc['CoreyMSchafer@gmail.com','last']

'Schafer'

In [11]:
df.loc[0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [12]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [13]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [27]:
df = pd.read_csv('survey_results_public.csv',index_col='Respondent')
schema_df = pd.read_csv('survey_results_schema.csv',index_col='Column')

In [28]:
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)

In [29]:
df.head()

,Hobby,OpenSource,Country,Student,Employment,...,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
Respondent,,,,,,,,,,,
1,Yes,No,Kenya,No,Employed part-time,...,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
3,Yes,Yes,United Kingdom,No,Employed full-time,...,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
4,Yes,Yes,United States,No,Employed full-time,...,NaN,NaN,NaN,NaN,NaN
5,No,No,United States,No,Employed full-time,...,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
7,Yes,No,South Africa,"Yes, part-time",Employed full-time,...,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [30]:
df.loc[1]

Hobby                                             Yes
OpenSource                                         No
Country                                         Kenya
Student                                            No
Employment                         Employed part-time
                                 ...
Age                                 25 - 34 years old
Dependents                                        Yes
MilitaryUS                                        NaN
SurveyTooLong    The survey was an appropriate length
SurveyEasy                                  Very easy
Name: 1, Length: 128, dtype: object

In [31]:
 schema_df

                                                    QuestionText
Column
Respondent     Randomized respondent ID number (not in order ...
Hobby                                    Do you code as a hobby?
OpenSource            Do you contribute to open source projects?
Country                In which country do you currently reside?
Student        Are you currently enrolled in a formal, degree...
...                                                          ...
Age            What is your age? If you prefer not to answer,...
Dependents     Do you have any children or other dependents t...
MilitaryUS     Are you currently serving or have you ever ser...
SurveyTooLong  How do you feel about the length of the survey...
SurveyEasy     How easy or difficult was this survey to compl...

[129 rows x 1 columns]

In [32]:
schema_df.loc['Hobby']

QuestionText    Do you code as a hobby?
Name: Hobby, dtype: object

In [34]:
schema_df.loc['OpenSource']

QuestionText    Do you contribute to open source projects?
Name: OpenSource, dtype: object

In [35]:
schema_df.loc['Hobby','QuestionText']

'Do you code as a hobby?'

In [36]:
schema_df.sort_index()

                                                      QuestionText
Column
AIDangerous      What do you think is the most dangerous aspect...
AIFuture         Overall, what's your take on the future of art...
AIInteresting    What do you think is the most exciting aspect ...
AIResponsible    Whose responsibility is it, <u>primarily</u>, ...
AdBlocker        Do you have ad-blocking software installed on ...
...                                                            ...
UpdateCV         Think back to the last time you updated your r...
VersionControl   What version control systems do you use regula...
WakeTime         On days when you work, what time do you typica...
YearsCoding      Including any education, for how many years ha...
YearsCodingProf  For how many years have you coded professional...

[129 rows x 1 columns]

In [37]:
schema_df.sort_index(ascending=False)

                                                      QuestionText
Column
YearsCodingProf  For how many years have you coded professional...
YearsCoding      Including any education, for how many years ha...
WakeTime         On days when you work, what time do you typica...
VersionControl   What version control systems do you use regula...
UpdateCV         Think back to the last time you updated your r...
...                                                            ...
AdBlocker        Do you have ad-blocking software installed on ...
AIResponsible    Whose responsibility is it, <u>primarily</u>, ...
AIInteresting    What do you think is the most exciting aspect ...
AIFuture         Overall, what's your take on the future of art...
AIDangerous      What do you think is the most dangerous aspect...

[129 rows x 1 columns]

In [38]:
schema_df.sort_index(inplace=True)

In [39]:
schema_df

                                                      QuestionText
Column
AIDangerous      What do you think is the most dangerous aspect...
AIFuture         Overall, what's your take on the future of art...
AIInteresting    What do you think is the most exciting aspect ...
AIResponsible    Whose responsibility is it, <u>primarily</u>, ...
AdBlocker        Do you have ad-blocking software installed on ...
...                                                            ...
UpdateCV         Think back to the last time you updated your r...
VersionControl   What version control systems do you use regula...
WakeTime         On days when you work, what time do you typica...
YearsCoding      Including any education, for how many years ha...
YearsCodingProf  For how many years have you coded professional...

[129 rows x 1 columns]