In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

In [5]:
pd.set_option('display.max_columns',15)
pd.set_option('display.max_rows',15)

In [6]:
df.head()

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,...,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,...,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [7]:
schema_df

            Column                                       QuestionText
0       Respondent  Randomized respondent ID number (not in order ...
1            Hobby                            Do you code as a hobby?
2       OpenSource         Do you contribute to open source projects?
3          Country          In which country do you currently reside?
4          Student  Are you currently enrolled in a formal, degree...
..             ...                                                ...
124            Age  What is your age? If you prefer not to answer,...
125     Dependents  Do you have any children or other dependents t...
126     MilitaryUS  Are you currently serving or have you ever ser...
127  SurveyTooLong  How do you feel about the length of the survey...
128     SurveyEasy  How easy or difficult was this survey to compl...

[129 rows x 2 columns]

In [8]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}


people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}


people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [9]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(people)

In [12]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [13]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [14]:
type(df['email'])

pandas.core.series.Series

In [15]:
 df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [16]:
df[['last','email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [17]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [18]:
df.iloc[0] # first row

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [19]:
df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [20]:
df.iloc[[0,1],2] # get first and second row's email attr

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [21]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [22]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [23]:
df.loc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [24]:
df.loc[[0,1],'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [26]:
df.loc[[0,1],['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [27]:
import pandas as pd

df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

pd.set_option('display.max_columns',15)
pd.set_option('display.max_rows',15)

In [28]:
df.shape

(98855, 129)

In [29]:
df.columns

Index(['Respondent', 'Hobby', 'OpenSource', 'Country', 'Student', 'Employment',
       'FormalEducation', 'UndergradMajor', 'CompanySize', 'DevType',
       ...
       'Exercise', 'Gender', 'SexualOrientation', 'EducationParents',
       'RaceEthnicity', 'Age', 'Dependents', 'MilitaryUS', 'SurveyTooLong',
       'SurveyEasy'],
      dtype='object', length=129)

In [30]:
df['Hobby']

0        Yes
1        Yes
2        Yes
3         No
4        Yes
        ...
98850    Yes
98851     No
98852    Yes
98853    Yes
98854    Yes
Name: Hobby, Length: 98855, dtype: object

In [31]:
df['Hobby'].value_counts()

Yes    79897
No     18958
Name: Hobby, dtype: int64

In [32]:
df.loc[0]

Respondent                                          1
Hobby                                             Yes
OpenSource                                         No
Country                                         Kenya
Student                                            No
                                 ...
Age                                 25 - 34 years old
Dependents                                        Yes
MilitaryUS                                        NaN
SurveyTooLong    The survey was an appropriate length
SurveyEasy                                  Very easy
Name: 0, Length: 129, dtype: object

In [33]:
df.loc[0,'Hobby']

'Yes'

In [34]:
df.loc[[0,1,2],'Hobby']

0    Yes
1    Yes
2    Yes
Name: Hobby, dtype: object

In [35]:
df.loc[0:2,'Hobby']

0    Yes
1    Yes
2    Yes
Name: Hobby, dtype: object

In [36]:
df.loc[0:2,'Hobby':'Student']

  Hobby OpenSource         Country Student
0   Yes         No           Kenya      No
1   Yes        Yes  United Kingdom      No
2   Yes        Yes   United States      No